
.App-header {
  background-color: #161616;
  max-height: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

a{
  font-size: calc(5px + 2vmin);
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}
.routes {
  min-height: 95vh;
}

footer {
  margin-left: 10px;
  color: gainsboro;
  font-size: x-small;
}